<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <title>Busy Bee Spelling</title>
    </head>
    <body ng-app="BusyBeeSpelling">
        <div class="app">
            <!-- Start Markup for Level Selection Screen -->
            <div ng-show="state.levelSelectControl" ng-controller="levelSelectControl" class="main levelSelect">
                <h1 ng-click="selectLevel()">{{message}}</h1>
                <ul class="landings">
                    <li ng-repeat="level in levels" ng-click='selectLevel(level)' class="flower {{level.flowerClass}}">
                        <span class="levelName">{{level.name}}</span>
                    </li>
                </ul>
            </div>
            <!-- End Markup for Level Selection Screen -->

            <!-- Start Markup for Level Screen -->
            <div class="mainshell" ng-show="state.levelControl" ng-controller="levelControl">
                <div class="main" style="width:{{levelWidth}}">

                <!--    Did I break this at some point???
                    <div class="menu">
                        <div class="menu-nav">
                            <ul class="landings">
                                <li ng-repeat="level in levels" ng-click='selectLevel(level)' class="flower flower-reddaisy" style="left: {{level.flowerLeft}}px; bottom: {{level.flowerBottom}}px;">
                                    <div class="letters letterBG_{{letter.letterBGnumber}}" style="left: {{letter.letterLeft}}%; bottom:{{letter.letterBottom}}%;">{{level}}</div>
                                </li>
                            </ul>
                        </div>
                    </div> -->

                    <!-- In Level Menu -->
                    <div class="in-level-menu" ng-init="isOpen = false" ng-class="{'open': isOpen }">
                        <a class="menu-icon" ng-click="isOpen = !isOpen"><img src="imgs/menu.png"></a>
                        <div class="menu-panel">
                            <!-- Let's place the contents of this menu here so it sits on top of the BG Image! -->
                            <a class="lesseasy">less easy</a> <a class="sound"> </a>
                            <a ng-click="backToMenu(); isOpen = false" class="vowels">Vowels</a>
                            <a ng-click="backToMenu(); isOpen = false" class="lowercase">Lowercase</a>
                            <a ng-click="backToMenu(); isOpen = false" class="diagraphs">Diagraphs</a>

                        </div>
                    </div>

                    <!-- BusyBee -->
                    <div 
                        id="character"
                        ng-class="{ 'faceLeft': busyBee.faceLeft }" 
                        style="left: {{busyBee.left}}px; top: {{busyBee.top}}px;"
                        ng-click="busyBee.takeAnswerToHive()">
                    </div>

                    <div class="hivetube"></div>
                    <div class="home" ng-click="hiveClick($event)"></div>
                    <div class="gamearea">
                        <!--<div>-->
                            <ul class="landings" ng-click="backgroundClick($event)">
                            <li ng-repeat="letter in levelLetters" class="flower {{letter.flowerClass}}" style="left: {{letter.flowerLeft}}px; bottom: {{letter.flowerBottom}}px;" ng-click="flowerClick($event)">
                                <div class="letters letterBG_{{letter.letterBGnumber}}" style="left: {{letter.letterLeft}}%; bottom:{{letter.letterBottom}}%;" ng-show="letter.show" ng-click="letterClick($event, $index)">{{letter.letter}}</div>
                            </li>
                            </ul>
                        <!--</div>-->
                        <!--<div>-->
                           <ul class="answerarea">
                                <li ng-repeat="letter in collectedLetters">
                                    <div class="letters letterBG_{{letter.letterBGnumber}}">{{letter.letter}}</div>
                                </li>
                            </ul>
                        <!--</div>-->
                    </div>
                    <div class="clouds"></div>

                    <div class="collectAnswerPanel" ng-show="showCollectAnswerPanel">
                        <h2>That's right!!</h2>
                        <div class="letters letterBG_{{collectedAnswerBG}}">{{collectedAnswer}}</div>
                        <span>Is a {{currentLevel.name}}</span>
                        <button ng-click="acceptAnswer()" ng-show="levelScore.possiblePoints">Only {{levelScore.possiblePoints}} Left!!</button>
                        <button ng-click="backToMenu()" ng-hide="levelScore.possiblePoints">YOU DID IT!!</button>
                        <button ng-click="refreshLevel()" ng-hide="levelScore.possiblePoints">Play Again!</button>
                    </div>
                </div>
            </div>
            <!-- End Markup for Level Screen -->

        </div>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/ng-cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/BusyBeeApp.js"></script>
    </body>
</html>
