* { outline: none !important; }
/* fix to landscape mode only
max width and height?
*/
@font-face {
  font-family: titleFont;
  src: url(../fonts/ClarendonLTStd.otf);
}
@font-face {
  font-family: titleFontBold;
  src: url(../fonts/ClarendonLTStd-Bold.otf);
}

.mainshell, .app, body{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: hidden;
  font-family: titleFont;
  /*opacity: 0.1;*/
}
.main{
  width: 100%;
  overflow: hidden;
  background: #219efe;
  padding:0;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: hidden;
}
.main h1 {
  position: absolute;
}
.levelName {
  font-size: 2.8em;
  display: block;
  text-align: center;
  padding-top: 130px;
  font-family: titleFontBold;
  color: #f9d00e;
  text-shadow: 4px 4px 0 #000,
  -4px 4px 0 #000,
  4px -4px 0 #000,
  -4px -4px 0 #000,
  0px 4px 0 #000,
  0px -4px 0 #000,
  -4px 0px 0 #000,
  4px 0px 0 #000,
  6px 6px 0 #000,
  -6px 6px 0 #000,
  6px -6px 0 #000,
  -6px -6px 0 #000,
  0px 6px 0 #000,
  0px -6px 0 #000,
  -6px 0px 0 #000,
  6px 0px 0 #000,
  4px 6px 0 #000,
  -4px 6px 0 #000,
  4px -6px 0 #000,
  -4px -6px 0 #000,
  6px 4px 0 #000,
  -6px 4px 0 #000,
  6px -4px 0 #000,
  -6px -4px 0 #000;
  /*-webkit-text-stroke-width: 3px;*/
  /*-webkit-text-stroke-color: black;*/
}

/* end opening screen   */

/* menu screen   */
.open .menu-icon{
  display: none;
}
.menu{
  display: none;
  background-color: rgba(166, 211, 245, 0.8);
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}
.menu-nav{
  padding:0;
}
.menu-panel{
  color: #fff;
  font-size: 18px;
  line-height: 16px;
}
.easy{
  background: url('../imgs/menu-sprite.png') left center;
  background-position: 0px 0px;
  width: 40px;
  /*height: 40px;*/
  display: inline-block;
  padding-top: 40px;
  margin-bottom:10px;
  margin-right: 20px;
  font-size: 18px;
  line-height: 14px;
}
.lesseasy{
  background: url('../imgs/menu-sprite.png') left center;
  background-position: 0px -45px;
  width: 40px;
  /*height: 40px;*/
  display: inline-block;
  padding-top: 50px;
  margin-bottom:10px;
  margin-right: 35px;
  font-size: 16px;
  line-height: 14px;
}

.sound{
  background: url('../imgs/menu-sprite.png') left center;
  background-position: -100px 0px;
  width: 34px;
  height: 30px;
  padding-bottom: 25px;
  display: inline-block;
}
.vowel{
  background: url('../imgs/navIcons/mixed-vowels.png') left center no-repeat;
  background-position: 0px 9px;
  display: block;
  padding-top: 45px;
  width: 104px;
}
.lowVow{
  background: url('../imgs/navIcons/lowercase-vowels.png') left center no-repeat;
  background-position: 50px -50px;
  display: block;
  padding-top: 45px;
  width: 50px;
}
.upVow{
  background: url('../imgs/navIcons/uppercase-vowels.png') left center no-repeat;
  background-position: 50px -50px;
  display: block;
  padding-top: 45px;
  width: 50px;
}
.upCons{
  background: url('../imgs/menu-sprite.png') left center no-repeat;
  background-position: 105px -115px;
  display: block;
  padding-top: 45px;
  width: 50px;
}
.lowCons{
  background: url('../imgs/menu-sprite.png') left center no-repeat;
  background-position: 105px -115px;
  display: block;
  padding-top: 45px;
  width: 50px;
}
.lowercase{
  background: url('../imgs/menu-sprite.png') left center no-repeat;
  background-position: 50px -115px;
  display: block;
  padding-top: 45px;
  width: 50px;
}
.consonant{
  background: url('../imgs/menu-sprite.png') left center no-repeat;
  background-position: 50px -115px;
  display: block;
  padding-top: 45px;
  width: 50px;
}
.diagraph{
  background: url('../imgs/menu-sprite.png') left center no-repeat;
  background-position: 0px -190px;
  display: block;
  padding-top: 45px;
  width: 50px;
}
/* end menu screen   */

/* play screen   */
.in-level-menu {
  position: fixed;
  /*display: none;*/
  top: 0;
  bottom: 0;
  padding-top: 0;
  z-index: 100;
  transition: .1s;
  left:100%;
  background-color: rgba(166,211,245,0);
  width:100%;
}
.in-level-menu.open {
  display: inline-block;
  background-color: rgba(166,211,245,.8);
  left: 0%;
}
.menu-panel{
  padding-left: 130px;
  left:100%;
  height:100%;
  width: 148px;
  background: url('../imgs/menu-back.png') left top no-repeat;
  position: relative;
}
.menu-panel.open {
  transition: .75s;
  left: calc(100% - 275px);
}
.menu-icon{
  width: 58px;
  height: 60px;
  position: fixed;
  display: block;
  right: 0px;
  z-index: 60;
}
#character{
  background: url('../imgs/bee-sprite.png') left center;
  width: 178px;
  height: 220px;
  z-index: 95;
  position: absolute;  /*fixed allows the bee to stay in screen*/
  left: 150px;
  top: 0;
  transition: left 1s, top 1s;
  -webkit-animation: fly .8s steps(3) infinite;
  animation: fly .8s steps(3) infinite;
  /*90 x 120*/
  zoom:0.35;
  -moz-transform:scale(0.5);
  -moz-transform-origin: 0 0;
}
@-webkit-keyframes fly {
  100% { background-position: -534px; }
}
@keyframes fly {
  100% { background-position: -534px; }
}
#character.faceLeft {
  transform: rotate(180deg);
}
.gamearea{
  width:100%;
  height:100%;
  z-index: 40;
}
.letterBoundary {
  transition: top 1.5s, left 1.5s;  /*todo: add easing */
  position: absolute;
  padding: 20px;
  /*border: red solid 1px;*/
}
.letters{
  font-family: titleFontBold;
  font-size: 2.7em;
  height: 85px;
  padding-top: 20px;
  z-index: 5;
  zoom: 1.25;
  text-align: center;
}
.letterBG_1 {
  background: url("../imgs/letterBG_1.png");
  background-repeat: no-repeat;
  width: 69px;
  /*height: 85px;*/
}
.letterBG_2 {
  background: url("../imgs/letterBG_2-orig.png");
  background-repeat: no-repeat;
  background-position: 0px -6px;
  width: 90px;
  /*height: 85px;*/
}
.letterBG_3 {
  background: url("../imgs/letterBG_3.png");
  background-repeat: no-repeat;
  width: 70px;
}
/*.letter-a{*/
  /*background: url("../imgs/letters/a.png");*/
/*}*/
/*.letter-b{*/
  /*background: url("../imgs/letters/b.png");*/
/*}*/
/*.letter-c{*/
  /*background: url("../imgs/letters/c.png");*/
/*}*/
/*.letter-e{*/
  /*background: url("../imgs/letters/e.png");*/
/*}*/
/*.letter-i{*/
  /*background: url("../imgs/letters/i.png");*/
/*}*/
.landings{
  position: relative;
  display: inline-block; 
  width:100%;
  height: 100%;
  top:0;
  z-index: 10;
  margin: 0;
  padding: 0;
  /*font-size: 2.5em;*/
  overflow: scroll;
}

.main.landings li{
  margin-left: 50px;
}

.levelSelect .landings {
  padding-top: 80px;
}
.flower {
  display: inline-block;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.levelSelect .flower {
  position: relative;
}
.flower-reddaisy{
  background: url("../imgs/flowers-daisy.png");
  width: 303px;
  height: 519px;
  zoom:0.5;
  -moz-transform:scale(0.5);
  -moz-transform-origin: 0 0;
  /*background-size: 100% 100%;*/
  /*max-width:20%;*/
  /*max-height:35%;*/
}
.flower-yellowdahlia{
  background: url("../imgs/flowers-dhalia-yello.png");
  width: 355px;
  height: 583px;
  zoom:0.5;
  -moz-transform:scale(0.5);
  -moz-transform-origin: 0 0;
}
.flower-purpletulip{
  background: url("../imgs/flowers-tulip-purple.png");
  width: 209px;
  height: 545px;
  zoom:0.5;
  -moz-transform:scale(0.5);
  -moz-transform-origin: 0 0;
  margin: 0 60px 0 20px;
}
.landing1{ /*red daisy*/
  z-index: 5;
  position: absolute;
  left: 150px;
  top: 80px;
}
.landing2{
  z-index: 5;
  position: absolute;
  left: 350px;
  top: 0px;
}
.landing3{ /*red daisy*/
  z-index: 5;
  position: absolute;
  left: 650px;
  top: 50px;
}
.landing4{ /*red daisy*/
  z-index: 5;
  position: absolute;
  left: 900px;
  top: 50px;
}
.landing5{ /* */
  z-index: 5;
  position: absolute;
  left: 1200px;
  top: 50px;
}
.landing6{ /* */
  z-index: 5;
  position: absolute;
  left: 1350px;
  top: 50px;
}
.landing7{ /* */
  z-index: 5;
  position: absolute;
  left: 1650px;
  top: 50px;
}
.landing8{ /* */
  z-index: 5;
  position: absolute;
  left: 1900px;
  top: 50px;
}
.landing9{ /* */
  z-index: 5;
  position: absolute;
  left: 2150px;
  top: 50px;
}
.landing10{ /* */
  z-index: 5;
  position: absolute;
  left: 2250px;
  top: 50px;
}
.home{
  background: url("../imgs/hive.png");
  z-index: 15;
  position: absolute;
  left: -100px;
  top: 0;
  height: 370px;
  width: 300px;
  background-repeat: no-repeat;
  zoom:0.5;
  -moz-transform:scale(0.5);
  -moz-transform-origin: 0 0;
}
.hiveLayer{
  position: fixed;
  top: 0;
  left: -10px;
  z-index: 80;
}
.hivetube{
  background: url("../imgs/hivetube.png");
  background-position: 0px 0px, left top;
  background-repeat: no-repeat;
  z-index: 20;
  position: absolute;
  top: 315px;
  height: 516px; /* 333px */
  width: 74px;
  zoom:0.55;
  -moz-transform:scale(0.55);
  -moz-transform-origin: 0 0;
}
.hivetubeMove{
  display:none;
  background: url("../imgs/hivetube-sprite.png");
  background-position: 0px 0px, left top;
  background-repeat: no-repeat;
  z-index: 20;
  position: absolute;
  top: 315px;
  height: 516px;
  width: 74px;
  zoom:0.55;
  -moz-transform:scale(0.55);
  -moz-transform-origin: 0 0;
  -webkit-animation: honeytube 1s steps(4) infinite;
  animation: honeytube 1s steps(4) infinite;
}
/* The animation code x y coordinates */

@-webkit-keyframes honeytube {
  100% { background-position: -300px; }
  /* sprites total width */
}
@keyframes honeytube {
  100% { background-position: -300px; }
  /* sprites total width */
}
.answerWrapper{
  position: fixed;
  z-index: 10;
  bottom: -30px;
  left:0;
  height: 130px;
  width: 100%;
}
.answerarea{
  position:absolute;
  overflow: hidden;
  background: url("../imgs/honeycomb.png");
  background-repeat: repeat-x;
  height: 130px;
  width: 100%;
  zoom:0.75;
  -moz-transform:scale(0.75);
  -moz-transform-origin: 0 0;

}
.clouds{
  background: url("../imgs/clouds.png");
  background-repeat: repeat-x;
  width: 100%;
  height: 112px;
  z-index: 1;
  position: absolute;
  top:0;
  /*border: 1px solid red;*/
}

/* Answer Collect Panel Styles */
.collectAnswerPanel, .introPanel, .successPanel {
  position: fixed;
  top: 0;
  left:0;
  width:100%;
  height:100%;
  z-index: 100;
  /*display: table;*/
  -webkit-backface-visibility: hidden;
}
.collectAnswerPanel {
  background-color: rgba(80,71,29,.9);
}
.introPanel {
  padding: 10% ;
}
.successPanel{
  background-color: rgba(33,158,254,1);
  text-align: center;
}

.incorrectPanel{
  position:absolute;
  padding: 10%;
  width:100%;
  height:100%;
}

.successCharacter{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.successMove{
  display:inline-block;
  background: url("../imgs/flowers-sprite.png");
  background-position: 0px 0px, left top;
  background-repeat: no-repeat;
  z-index: 20;
  height: 400px;
  width: 220px;
  zoom:0.5;
  -moz-transform:scale(0.55);
  -moz-transform-origin: 0 0;
}
.successMove1{
  -webkit-animation: successdance 1s steps(4) infinite;
  animation: successdance 1s steps(4) infinite;
}

.successMove2{
  -webkit-animation: successdance2 1s steps(3) infinite;
  animation: successdance2 1s steps(3) infinite;
}
/* The animation code x y coordinates */

@-webkit-keyframes successdance {
  100% { background-position: -869px; }
  /* sprites total width */
}
@-webkit-keyframes successdance2 {
  0% {
    transform: rotate(-10deg);
    background-position: 0px 0;
  }
  50% {
    transform: rotate(4deg);
    background-position: 0px 0;
  }
  100% {
    transform: rotate(-8deg);
    /*background-position: -440px 0;*/
  }
}
.collectAnswerPanel .letters{
  display: inline-block;
  float: left;
  /*width: 24%;  /!*20%*!/*/
  position: relative;
  zoom: 1.5;
}
.collectAnswerPanel .answerText, .introPanel .answerText, .loadingApp .answerText, .successPanel .answerText {
  display: inline-block;
  position: relative;
  z-index: 100;
  width: 54%;
  font-size: 2em;
  font-family: titleFontBold;
  color: #f9d00e;
  height: 130px;
  text-shadow:  -1px -1px 0 #000,
  2px -1px 0 #000,
  -1px 2px 0 #000,
  2px 2px 0 #000;
}
.introPanel .answerText {
  width: 68%;
  padding-top: 10%;
}
.introPanel, .loadingApp {
  background: #219efe;
}
.successPanel .answerText {
  padding-top: 10%
}
.loadingApp h1{
  font-size: 62px;
  margin:0;
}
.loadingApp .loadingAppPanel .answerText{
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  text-align: center;
  font-size: 48px;
  z-index: 100;
}
.subText {
  color: #f9d00e;
  font-size: 20px;
}
}
.introPanel .answerText {
  width: 80%;
  z-index: 50;
  padding-top: 100px;
  /*text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;*/
  font-size: 34px;
}
.answerarea li{
  display:inline-block;
}

.answerarea li .letters{
  position: relative;
  float: left;
  /*width: 64px;*/
}