/* fix to landscape mode only
max width and height?
*/
@font-face {
  font-family: titleFont;
  src: url(../fonts/ClarendonLTStd-Bold.otf);
}

.mainshell, .app, body{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: hidden;
  font-family: titleFont;
}
.main{
  /*width: 100%;*/
  width: 1200px;
  height: 352px; /*wtf is up with this random number*/
  overflow-x: hidden;
  background: #219efe;
  padding:0;
  z-index: -1;
  position: absolute;
}
.main h1 {
  position: absolute;
}
.levelName {
  font-size: 3em;
  display: block;
  text-align: center;
  padding-top: 80px;
}
.menu-icon{
  width: 58px;
  height: 60px;
  z-index: 50;
  position: fixed;
  left: 520px;
  /*float:right;*/
  top: 0;
  /*border: 1px red solid;*/
}
.menu{
  display: none;
  background-color: rgba(166, 211, 245, 0.8);
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}
.menu-nav{
  background: url('../imgs/menu-back.png') left center;
  z-index: 110;
  float:right;
  width: 288px;
  height: 100%;
}
.character{
  background: url('../imgs/bee-sprite.png') left center;
  width: 178px;
  height: 220px;
  z-index: 50;
  position: absolute;
  left: 150px;
  top: 0;
  transition: left 1s, top 1s;
  -webkit-animation: fly .8s steps(3) infinite;
  animation: fly .8s steps(3) infinite;
  /*90 x 120*/
  zoom:0.5;
  -moz-transform:scale(0.5);
  -moz-transform-origin: 0 0;
}
@-webkit-keyframes fly {
  100% { background-position: -534px; }
}
@keyframes fly {
  100% { background-position: -534px; }
}
.gamearea{
  width:100%;
  height:100%;
  z-index: 40;
}
.letters{
  width: 85px;
  height: 85px;
  /*margin-top: 100px;*/
  position: absolute;
  font-size: 3em;
  padding: 10px 0px 0px 20px;
  z-index: 5;
}
.letterBG_1 {
  background: url("../imgs/letterBG_1.png");
  background-repeat: no-repeat;
}
.letterBG_2 {
  background: url("../imgs/letterBG_2.png");
  background-repeat: no-repeat;
  background-position: -10px -5px;
}
.letterBG_3 {
  background: url("../imgs/letterBG_3.png");
  background-repeat: no-repeat;
}
.letter-a{
  background: url("../imgs/letters/a.png");
}
.letter-b{
  background: url("../imgs/letters/b.png");
}
.letter-c{
  background: url("../imgs/letters/c.png");
}
.letter-e{
  background: url("../imgs/letters/e.png");
}
.letter-i{
  background: url("../imgs/letters/i.png");
}
.landings{
  position: relative;
  display: inline-block; 
  width:100%;
  height: 100%;
  top:0;
  z-index: 10;
  margin: 0;
  padding: 0;
}
.levelSelect .landings {
  padding-top: 80px;
}
.flower {
  display: inline-block;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.levelSelect .flower {
  position: relative;
}
.flower-reddaisy{
  background: url("../imgs/flowers-daisy.png");
  width: 303px;
  height: 519px;
  zoom:0.5;
  -moz-transform:scale(0.5);
  -moz-transform-origin: 0 0;
  /*background-size: 100% 100%;*/
  /*max-width:20%;*/
  /*max-height:35%;*/
}
.flower-yellowdahlia{
  background: url("../imgs/flowers-dhalia-yello.png");
  width: 355px;
  height: 583px;
  zoom:0.5;
  -moz-transform:scale(0.5);
  -moz-transform-origin: 0 0;
}
.flower-purpletulip{
  background: url("../imgs/flowers-tulip-purple.png");
  width: 209px;
  height: 545px;
  zoom:0.5;
  -moz-transform:scale(0.5);
  -moz-transform-origin: 0 0;
}
.landing1{ /*red daisy*/
  z-index: 5;
  position: absolute;
  left: 150px;
  top: 80px;
}
.landing2{
  z-index: 5;
  position: absolute;
  left: 350px;
  top: 0px;
}
.landing3{ /*red daisy*/
  z-index: 5;
  position: absolute;
  left: 650px;
  top: 50px;
}
.landing4{ /*red daisy*/
  z-index: 5;
  position: absolute;
  left: 900px;
  top: 50px;
}
.landing5{ /* */
  z-index: 5;
  position: absolute;
  left: 1200px;
  top: 50px;
}
.landing6{ /* */
  z-index: 5;
  position: absolute;
  left: 1350px;
  top: 50px;
}
.landing7{ /* */
  z-index: 5;
  position: absolute;
  left: 1650px;
  top: 50px;
}
.landing8{ /* */
  z-index: 5;
  position: absolute;
  left: 1900px;
  top: 50px;
}
.landing9{ /* */
  z-index: 5;
  position: absolute;
  left: 2150px;
  top: 50px;
}
.landing10{ /* */
  z-index: 5;
  position: absolute;
  left: 2250px;
  top: 50px;
}
.home{
  background: url("../imgs/hive.png");
  z-index: 15;
  position: absolute;
  left: -100px;
  top: 0;
  height: 370px;
  width: 300px;
  background-repeat: no-repeat;
  zoom:0.5;
  -moz-transform:scale(0.5);
  -moz-transform-origin: 0 0;
}
.hivetube{
  background: url("../imgs/hivetube.png");
  background-position: 0px 0px, center;
  background-repeat: no-repeat;
  z-index: 20;
  position: absolute;
  left: 8px;
  bottom: 0px;
  height: 333px;
  width: 65px;
  zoom:0.55;
  -moz-transform:scale(0.55);
  -moz-transform-origin: 0 0;
}
.hivetubeMove{
  -webkit-animation: honeytube 4s infinite;
  animation: honeytube 4s infinite;
}
/* The animation code x y coordinates */

@-webkit-keyframes honeytube {
  0%   {background-position: 0px 20px, center;}
  25%  {background-position: 0px 30px, center;}
  50%  {background-position: 0px 20px, center;}
  100% {background-position: 0px 30px, center;}
}
@keyframes honeytube {
  0%   {background-position: 0px 20px, center;}
  25%  {background-position: 0px 30px, center;}
  50%  {background-position: 0px 20px, center;}
  100% {background-position: 0px 30px, center;}
}
.answerarea{
  background: url("../imgs/honeycomb.png");
  z-index: 10;
  position: fixed;
  margin:0 auto;
  bottom: 0;
  height: 130px;
  width: 100%;
  background-repeat: repeat-x;
  zoom:0.75;
  -moz-transform:scale(0.75);
  -moz-transform-origin: 0 0;
}
.clouds{
  background: url("../imgs/clouds.png");
  background-repeat: repeat-x;
  width: 100%;
  height: 130px;
  z-index: 1;
  position: absolute;
  top:0;
  /*border: 1px solid red;*/
}